@font-face {
    font-family: 'Nefilt';
    src: url('https://csmldn.co.uk/assets/Nefilt-Regular.woff2') format('woff2'),
        url('https://csmldn.co.uk/assets/Nefilt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

